<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/d0c5f1e210.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
        .footer{
            min-width: 100vh;
            width: 100%;
            background-color: #242528;
            color:#fff;
            background-position: center;
            background-size: cover;
            position: relative;
            align-items: center;
            justify-content: center;
            padding: 4px;
            height: 250px;
        }
    </style>
</head>
<body>
    <header class="nav">
        <!-- <div class="container"> -->
            <div class="logo"><img src="https://cdn.discordapp.com/attachments/840220247646273559/944661501883584532/logo_3.2.png" alt=""></div>
            <div class='side'>
                <input type="text" placeholder="Search" class="input--login"> 
            </div>
            <ul class="navContainer">
                <li class="navLinks"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li class="navLinks"><a href="home">Home</a></li>
                <li class="navLinks"><a href="cart">Cart</a></li>
                <li class="navLinks"><a href="seller">Sell</a></li>
                <li class="navLinks"><a href="contact">Conatct Us</a></li>
            </ul>
        <!-- </div> -->
    </header>
    <div class="body-book">
        <div class="col-2">
            <img src="https://cdn.discordapp.com/attachments/840220247646273559/944642170323894312/41foiB9v4dL.jpg" alt="">
        </div>
        <div class="col-2">
            <div class="text">
                <h3>Python</h3>
                <h2>Python Crash Course, 2nd Edition:<br> A Hands-On, Introduction To Programming</h2>
                <p>Eric Matthews</p>
                <div class="price"> <del>Rs 1700</del>&nbsp;&nbsp;Rs 707/-&nbsp;&nbsp;<span class="price--off">28%</span></div>
                <div class="seller_name">Selling by XYZ ABC</div>
                <div class="email_id">2020.abc.xyz@ves.ac.in</div>
                <div class="condition_book">Condition: Good</div>
                <button class="cart--btn" ><a href="cart"> Add To Cart</a></button>
            </div>
        </div>
    </div>
    <footer class="footer">
        <!-- logo -->
        <!-- follow us -->
        <!-- recieve the latest and exclusive overs -->
        
            <div class="footer-row">
                <div class="footer-col-1">
                    <div class="logo"><img src="https://cdn.discordapp.com/attachments/840220247646273559/944661501883584532/logo_3.2.png" alt=""></div>
                </div>
                <div class="footer-col-1">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href=""><i class="fa-brands fa-facebook-square"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram-square"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="footer-col-1">
                    <h4>Recieve the Latest and Exclusive Offers by</h4>
                    <div class="button-col-2">
                        <a href="" class="btn" type="button">Text</a>
                        <a href="" class="btn" type="button">Email</a>
                    </div>
                </div>              
            </div>
            <hr>
            <p class="copyright">Copyright 2022-bookstore@gmail.com</p>
        
    </footer>
    
</body>
</html>