<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/d0c5f1e210.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="nav">
        <!-- <div class="container"> -->
            <div class="logo"><img src="https://cdn.discordapp.com/attachments/840220247646273559/944661501883584532/logo_3.2.png" alt=""></div>
            <div class='side'>
                <input type="text" placeholder="Search" class="input--login"> 
            </div>
            <ul class="navContainer">
                <li class="navLinks"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li class="navLinks"><a href="home">Home</a></li>
                <li class="navLinks"><a href="cart">Cart</a></li>
                <li class="navLinks"><a href="seller">Sell</a></li>
                <li class="navLinks"><a href="contact">Contact Us</a></li>
            </ul>
        <!-- </div> -->
    </header>
    <!--Cart-->
    <div class="cart">
        <div class="item">
            <div class="img"><img src="https://cdn.discordapp.com/attachments/840220247646273559/944642170323894312/41foiB9v4dL.jpg" alt=""></div>
            <div class="content">
                <div class="title">Mechanical Engineering</div>
                <h5>By Erich Wiliamsom<span> | </span> Concepts of Mechanical Engineering</h5>
            </div>
            <div class="remove"><a href='#'>Remove</a></div>
            <div class="price--tag">
                Rs 499/- <span class="fa-solid fa-tag"></span>
            </div>
        </div>
        <div class="item">
            <div class="img"><img src="https://cdn.discordapp.com/attachments/840220247646273559/944642170323894312/41foiB9v4dL.jpg" alt=""></div>
            <div class="content">
                <div class="title">Mechanical Engineering</div>
                <h5 class="author">By Yashwant Kanetkar<span> | </span> Concepts of Mechanical Engineering</h5>
            </div>
            <div class="remove"><a href='#'>Remove</a></div>
            <div class="price--tag">
                Rs 499/- <span class="fa-solid fa-tag"></span>
            </div>
        </div>
        
        
    </div>
    
</body>
</html>