<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/d0c5f1e210.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header (nav bar)--> 
    <header class="nav">
        <!-- <div class="container"> -->
            <div class="logo"><img src="https://cdn.discordapp.com/attachments/840220247646273559/944661501883584532/logo_3.2.png" alt=""></div>
            <div class='side'>
                <input type="text" placeholder="Search" class="input--login"> 
            </div>
            <ul class="navContainer">
                <li class="navLinks"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li class="navLinks"><a href="home">Home</a></li>
                <li class="navLinks"><a href="cart">Cart</a></li>
                <li class="navLinks"><a href="seller">Sell</a></li>
                <li class="navLinks"><a href="contact">Contact Us</a></li>
            </ul>
        <!-- </div> -->
    </header>
    <!-- Body -->
    <!-- <div class="container"> -->
        <div id="boxe">
            <div class="hpage">
                <div class="body-row">
                    <div class="col-2">
                            <h1>CHOOSE YOUR BRAIN FOOD</h1>
                            <h2>GET UPTO 80% OFF ON 2ND HAND BOOKS</h2>
                            <a href=""><h4>SHOP NOW &#8594</h4></a>
                    </div>
                    <div class="col-2">
                        <img src="https://cdn.discordapp.com/attachments/840220247646273559/944552954575335434/brain-on-books.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    <section class="card--display">
        <div class="card card1 ebooks">
            
                <span class="row--1">SHOP CATEGORY</span>
                <span class="row--2">BOOKS</span>
                <a href="book"><span class="row--3">SHOP NOW &#8594</span></a>
            
            <div class="image"></div>
        </div>
        <div class="card card2 notes">
                <span class="row--1">SHOP CATEGORY</span>
                <span class="row--2">NOTES</span>
                <span class="row--3">SHOP NOW &#8594</span>

            </div>
        <div class="card card3 equipments">
                <span class="row--1">SHOP CATEGORY</span>
                <span class="row--2">EQUIPMENTS</span>
                <span class="row--3">SHOP NOW &#8594</span>

        </div>
    </section>
    
    <!-- Footer (bottom bar)-->
    <footer class="footer">
        <!-- logo -->
        <!-- follow us -->
        <!-- recieve the latest and exclusive overs -->
        
            <div class="footer-row">
                <div class="footer-col-1">
                    <div class="logo"><img src="https://cdn.discordapp.com/attachments/840220247646273559/944661501883584532/logo_3.2.png" alt=""></div>
                </div>
                <div class="footer-col-1">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href=""><i class="fa-brands fa-facebook-square"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram-square"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="footer-col-1">
                    <h4>Recieve the Latest and Exclusive Offers by</h4>
                    <div class="button-col-2">
                        <a href="" class="btn" type="button">Text</a>
                        <a href="" class="btn" type="button">Email</a>
                    </div>
                </div>              
            </div>
            <hr>
            <p class="copyright">Copyright 2022-bookstore@gmail.com</p>
    </footer>
    <!-- java script -->
</body>
</html>



<!-- CATEGORY
price (mrp)
resell price 
name 
image 
description -->


<!-- action = # -->
<!-- method = post -->
<!-- enc type = 'multipart/for-data' -->